* {
  box-sizing: border-box; }

body {
  padding-top: 9px;
  background: #FFF0D957; }

@font-face {
  font-family: 'Mont Light';
  src: local("Mont Light");
  src: url("/src/fonts/Mont-Light.eot");
  src: url("/src/fonts/Mont-Light.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Mont-Light.woff") format("woff"), url("/src/fonts/Mont-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mont Semibold';
  src: local("Mont Semibold");
  src: url("/src/fonts/Mont-SemiBold.eot");
  src: url("/src/fonts/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Mont-SemiBold.woff") format("woff"), url("/src/fonts/Mont-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mont Extra Light';
  src: local("Mont Extra Light");
  src: url("/src/fonts/Mont-ExtraLight.eot");
  src: url("/src/fonts/Mont-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Mont-ExtraLight.woff") format("woff"), url("/src/fonts/Mont-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("/src/fonts/ProximaNovaT-Thin.eot");
  src: url("/src/fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("/src/fonts/ProximaNovaT-Thin.woff") format("woff"), url("/src/fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header {
  margin-bottom: 18px; }
  .header .container {
    max-width: 1744px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .header .container .burger {
      height: 29px;
      width: 30px;
      cursor: pointer;
      display: none; }
      .header .container .burger span {
        display: block;
        background: black;
        width: 30px;
        height: 3px; }
      .header .container .burger span:not(:last-child) {
        margin-bottom: 10px; }
  .header__logo-group {
    display: flex;
    align-items: center; }
    .header__logo-group .logo {
      margin-right: 12px; }
  .header__group-text__txt {
    margin-left: 40px; }
  .header__navigation {
    display: flex;
    align-items: center; }
    .header__navigation__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0; }
      .header__navigation__list li {
        margin-right: 68px;
        font-family: Mont Semibold;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px; }
        .header__navigation__list li a {
          text-decoration: none;
          color: black; }
  .header__contacts {
    display: flex;
    align-items: center; }
    .header__contacts .phone {
      margin-right: 53px; }
      .header__contacts .phone__text {
        font-family: Mont Semibold;
        font-weight: 200;
        font-size: 16px;
        line-height: 20px;
        color: #1E1E1E9E; }
      .header__contacts .phone__number {
        font-family: Mont Semibold;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px; }
    .header__contacts .order-call {
      width: 289px;
      height: 77px;
      background: linear-gradient(0.25turn, #447C2A, #3DB846, #447C2A);
      border-radius: 40px;
      padding: 25px 0 0 70px;
      color: white;
      font-family: 'Mont Extra Light';
      font-size: 20px;
      line-height: 26px;
      cursor: pointer; }
  .header__phone {
    display: none; }
  .header .burger-socials {
    display: none; }

.popup-fon {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  display: none; }

.popup {
  padding: 40px;
  width: 435px;
  height: 535px;
  background: #FCFCFC;
  border-radius: 24px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  text-align: center; }
  .popup__title {
    font-family: Mont Semibold;
    font-weight: 600;
    font-size: 39px;
    line-height: 45px;
    color: #323638;
    margin-bottom: 15px; }
  .popup__subject {
    font-family: Mont Semibold;
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    color: #323638;
    margin-bottom: 15px; }
  .popup__inp-name {
    width: 343px;
    height: 70px;
    background: #EFEFEF;
    border: none;
    border-radius: 34px;
    margin-bottom: 25px;
    padding: 0 0 0 35px; }
    .popup__inp-name:focus {
      outline: none; }
  .popup__inp-tel {
    width: 343px;
    height: 70px;
    background: #EFEFEF;
    border: none;
    border-radius: 34px;
    margin-bottom: 25px;
    padding: 0 0 0 35px; }
    .popup__inp-tel:focus {
      outline: none; }
  .popup__btn {
    width: 343px;
    height: 77px;
    background: linear-gradient(0.25turn, #447C2A, #3DB846, #447C2A);
    border-radius: 40px;
    color: white;
    border: none;
    font-family: 'Mont Extra Light';
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: .7s; }
  .popup__btn:hover {
    filter: drop-shadow(rgba(42, 124, 48, 0.34) -6px 15px 5px); }

.popup-active {
  display: block; }

.picture {
  position: relative; }
  .picture .container {
    max-width: 1744px;
    margin: 0 auto; }
  .picture__image {
    border-radius: 90px;
    height: 751px;
    width: 100%;
    object-fit: cover;
    object-position: 78%; }
  .picture__title {
    position: absolute;
    top: 176px;
    left: 161px;
    color: white;
    width: 891px; }
    .picture__title__subject {
      font-family: 'Mont Light';
      font-weight: 900;
      font-size: 74px;
      line-height: 89px; }
    .picture__title__text {
      font-family: 'Mont Light';
      font-weight: 400;
      font-size: 32px;
      line-height: 35px;
      width: 400px; }
  .picture__list {
    position: absolute;
    bottom: 60px;
    left: 161px;
    width: clamp(900px, 80vw, 1450px);
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Mont Light';
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    list-style: none; }
    .picture__list li {
      width: 381px;
      display: flex;
      align-items: baseline; }
    .picture__list__circle {
      border-radius: 200%;
      background: #71AB28;
      min-width: 13px;
      height: 13px;
      margin-right: 22px; }

.main {
  margin-bottom: 114px;
  position: relative; }
  .main__fon-picture {
    position: absolute;
    top: 1000px;
    right: 0; }
  .main .container {
    max-width: 1744px;
    margin: 0 auto; }
  .main__conditions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px; }
    .main__conditions__desc {
      width: 605px; }
      .main__conditions__desc__title {
        font-family: 'Proxima Nova Thin';
        font-weight: 200;
        font-size: 48px;
        line-height: 61px;
        color: #323638;
        margin: 0 0 52px 0; }
        .main__conditions__desc__title span {
          font-family: 'Proxima Nova Thin';
          font-weight: 600;
          font-size: 48px;
          line-height: 61px;
          color: #323638; }
      .main__conditions__desc__text {
        font-family: 'Proxima Nova Thin';
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: #747474; }
    .main__conditions__picture {
      width: 859px; }
      .main__conditions__picture img {
        mix-blend-mode: darken; }
  .main__offer-list {
    max-width: 1472px;
    margin: 0 auto; }
    .main__offer-list__flex {
      display: flex;
      align-items: center; }
    .main__offer-list__title {
      font-family: 'Proxima Nova Thin';
      font-weight: 300;
      font-size: 48px;
      line-height: 61px;
      margin: 0 auto;
      width: 1160px;
      color: #323638;
      margin-bottom: 56px; }
      .main__offer-list__title span {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: 48px;
        line-height: 61px; }
    .main__offer-list__left {
      width: 600px;
      position: relative;
      margin-right: 43px;
      display: flex; }
      .main__offer-list__left__lower {
        width: 280px;
        margin-top: 47px;
        margin-right: 24px; }
      .main__offer-list__left__upper {
        width: 280px; }
      .main__offer-list__left__image {
        border-radius: 24px; }
      .main__offer-list__left__image:nth-child(1) {
        margin-bottom: 24px; }
      .main__offer-list__left .circle {
        position: absolute;
        top: 240px;
        left: 190px;
        background: white;
        width: 204px;
        height: 204px;
        border-radius: 100px;
        padding: 50px 0 0 30px; }
    .main__offer-list__right {
      display: flex; }
      .main__offer-list__right .left-list .list-width {
        width: clamp(200px, 20vw, 400px);
        margin-bottom: 80px;
        margin-right: 47px;
        min-height: 170px; }
      .main__offer-list__right .left-list .service {
        display: flex; }
      .main__offer-list__right .left-list .care {
        display: flex; }
      .main__offer-list__right .left-list .house {
        display: flex; }
      .main__offer-list__right .left-list .mini-circle {
        background: white;
        width: 52px;
        height: 52px;
        border: 1px solid #D1D1D1;
        border-radius: 100px;
        margin-right: 18px; }
        .main__offer-list__right .left-list .mini-circle img {
          padding: 20px 15px 10px 16px; }
      .main__offer-list__right .left-list .list__title {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: clamp(15px, 1vw, 24px);
        line-height: 31px;
        margin-bottom: 22px; }
      .main__offer-list__right .left-list .list__text {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: clamp(10px, 1vw, 16px);
        line-height: 19px;
        color: #747474; }
      .main__offer-list__right .right-list .list-width {
        width: clamp(200px, 20vw, 400px);
        margin-bottom: 80px;
        min-height: 170px; }
      .main__offer-list__right .right-list .prices {
        display: flex; }
      .main__offer-list__right .right-list .location {
        display: flex; }
      .main__offer-list__right .right-list .environment {
        display: flex; }
      .main__offer-list__right .right-list .mini-circle {
        background: white;
        width: 52px;
        height: 52px;
        border: 1px solid #D1D1D1;
        border-radius: 100px;
        margin-right: 18px; }
        .main__offer-list__right .right-list .mini-circle img {
          padding: 20px 15px 10px 16px; }
      .main__offer-list__right .right-list .list__title {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: clamp(15px, 1vw, 24px);
        line-height: 31px;
        margin-bottom: 22px; }
      .main__offer-list__right .right-list .list__text {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: clamp(10px, 1vw, 16px);
        line-height: 19px;
        color: #747474; }

.block-carousel {
  position: relative;
  margin-bottom: 56px; }
  .block-carousel .container {
    max-width: 1744px;
    margin: 0 auto; }
  .block-carousel__upper {
    display: flex;
    justify-content: center;
    margin-bottom: 56px; }
    .block-carousel__upper__title {
      font-family: Mont Semibold;
      font-weight: 200;
      font-size: 48px;
      line-height: 61px;
      width: 730px;
      margin: 0 410px 0 0; }
      .block-carousel__upper__title span {
        font-weight: 600; }
    .block-carousel__upper__sign-up {
      width: 336px;
      height: 87px;
      background: linear-gradient(0.25turn, #447C2A, #3DB846, #447C2A);
      border-radius: 50px;
      padding: 30px 0 0 55px;
      color: white;
      font-family: Mont Semibold;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      cursor: pointer; }
  .block-carousel .btn-left {
    width: 68px;
    height: 68px;
    background: white;
    position: absolute;
    top: 210px;
    left: -35px;
    border-radius: 40px;
    cursor: pointer; }
    .block-carousel .btn-left__upper {
      position: absolute;
      top: 30px;
      left: 23px;
      width: 15px;
      border: 1px solid #869EA9;
      transform: rotate(-40deg); }
    .block-carousel .btn-left__lower {
      position: absolute;
      top: 39px;
      left: 23px;
      width: 15px;
      border: 1px solid #869EA9;
      transform: rotate(40deg); }
  .block-carousel .btn-left:hover {
    background: #3C9C43;
    filter: drop-shadow(0 12px 10px #28AB3570); }
    .block-carousel .btn-left:hover .btn-left__upper {
      border: 1px solid white; }
    .block-carousel .btn-left:hover .btn-left__lower {
      border: 1px solid white; }
  .block-carousel .btn-right {
    width: 68px;
    height: 68px;
    background: white;
    position: absolute;
    top: 210px;
    right: -45px;
    border-radius: 40px;
    cursor: pointer; }
    .block-carousel .btn-right__upper {
      position: absolute;
      top: 30px;
      left: 28px;
      width: 15px;
      border: 1px solid #869EA9;
      transform: rotate(40deg); }
    .block-carousel .btn-right__lower {
      position: absolute;
      top: 39px;
      left: 28px;
      width: 15px;
      border: 1px solid #869EA9;
      transform: rotate(-40deg); }
  .block-carousel .btn-right:hover {
    background: #3C9C43;
    filter: drop-shadow(0 12px 10px #28AB3570); }
    .block-carousel .btn-right:hover .btn-right__upper {
      border: 1px solid white; }
    .block-carousel .btn-right:hover .btn-right__lower {
      border: 1px solid white; }
  .block-carousel .ovw {
    width: 1413px;
    height: 484px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 27px; }
    .block-carousel .ovw__subject {
      font-family: Mont Semibold;
      font-weight: 400;
      font-size: 30px;
      line-height: 37px;
      width: 325px;
      margin: 0 auto;
      margin-bottom: 32px; }
  .block-carousel__indicators {
    display: flex;
    align-items: center;
    width: 70px;
    overflow: hidden;
    margin: 0 auto; }
    .block-carousel__indicators .indicators__circle {
      min-width: 4px;
      height: 4px;
      background: #B9B9B9;
      border-radius: 10px; }
    .block-carousel__indicators .circle-active {
      min-width: 8px;
      height: 8px;
      background: #71AB28; }
    .block-carousel__indicators .circle-average-active {
      min-width: 6px;
      height: 6px; }
    .block-carousel__indicators .indicators__circle:not(:last-child) {
      margin-right: 12px; }
  .block-carousel__carousel {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    width: 1413px;
    position: relative; }
    .block-carousel__carousel__image {
      width: 336px;
      height: 484px;
      border-radius: 24px;
      transition: all 1s;
      object-fit: cover; }
    .block-carousel__carousel .carousel-active {
      margin: 0 24px;
      width: 696px; }

.qq {
  max-width: 1493px;
  padding: 50px;
  margin: 0 auto; }

.ww {
  width: 0; }

.block-video {
  margin-bottom: 112px; }
  .block-video .container {
    max-width: 1744px;
    margin: 0 auto; }
    .block-video .container video {
      display: block;
      margin: 0 auto;
      width: 1066px;
      height: 600px;
      border-radius: 24px; }

.benefits {
  background: white; }
  .benefits .container {
    max-width: 1744px;
    margin: 0 auto; }
  .benefits__title {
    font-family: Mont Semibold;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    width: 1122px;
    margin: 0 auto;
    margin-bottom: 56px; }
    .benefits__title span {
      font-family: Mont Semibold;
      font-weight: 600;
      font-size: 48px;
      line-height: 61px; }
  .benefits__promo {
    display: flex;
    justify-content: center;
    border: 1px solid #DEDEDE;
    border-radius: 24px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 42px; }
    .benefits__promo__left {
      margin-right: 68px; }
      .benefits__promo__left .programm {
        font-family: Proxima Nova Thin;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        color: #464646; }
      .benefits__promo__left .headline-btn {
        display: flex;
        justify-content: space-between; }
        .benefits__promo__left .headline-btn .headline {
          font-family: Mont Semibold;
          font-weight: 700;
          font-size: 64px;
          line-height: 73px;
          color: #323638; }
        .benefits__promo__left .headline-btn .btn {
          background: linear-gradient(0.25turn, #447C2A, #3DB846, #447C2A);
          width: 200px;
          border-radius: 40px;
          padding: 22px 0 0 35px;
          font-family: Mont Semibold;
          font-weight: 600;
          font-size: 20px;
          line-height: 26px;
          color: white;
          cursor: pointer; }
      .benefits__promo__left .subtitle {
        font-family: Proxima Nova Thin;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        color: #464646;
        margin-bottom: 21px; }
      .benefits__promo__left__list ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .benefits__promo__left__list ul li {
          margin-bottom: 20px;
          list-style: url(/src/img/Mark.png); }
      .benefits__promo__left__block-price {
        padding: 30px;
        background: #FFFAF2;
        border-radius: 24px; }
        .benefits__promo__left__block-price .block-price__heading .info {
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px; }
          .benefits__promo__left__block-price .block-price__heading .info__block-text {
            display: flex;
            width: 370px; }
          .benefits__promo__left__block-price .block-price__heading .info__caption {
            width: 185px; }
          .benefits__promo__left__block-price .block-price__heading .info__price {
            font-family: Mont Semibold;
            font-weight: 400;
            font-size: 28px;
            line-height: 31px;
            color: #437F2C; }
            .benefits__promo__left__block-price .block-price__heading .info__price span {
              font-family: Proxima Nova Thin;
              font-weight: 400;
              font-size: 20px;
              line-height: 23px; }
          .benefits__promo__left__block-price .block-price__heading .info__caption {
            font-family: Mont Semibold;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            color: #464646; }
          .benefits__promo__left__block-price .block-price__heading .info hr {
            height: 22px;
            border: 1px solid #CACACA; }
          .benefits__promo__left__block-price .block-price__heading .info .block-price__close {
            width: 46px;
            height: 46px;
            background: white;
            border-radius: 20px;
            position: relative;
            cursor: pointer;
            transition: 1s; }
            .benefits__promo__left__block-price .block-price__heading .info .block-price__close__horizontal {
              width: 12px;
              height: 2px;
              background: #455858;
              position: absolute;
              top: 47%;
              left: 40%; }
            .benefits__promo__left__block-price .block-price__heading .info .block-price__close__vertical {
              width: 2px;
              background: #455858;
              height: 12px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateY(-50%); }
        .benefits__promo__left__block-price .desc {
          height: 0;
          overflow: hidden;
          transition: height .6s; }
          .benefits__promo__left__block-price .desc .desc__text {
            font-family: Proxima Nova Thin;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: #464646; }
          .benefits__promo__left__block-price .desc .desc__info {
            display: flex; }
            .benefits__promo__left__block-price .desc .desc__info .desc__plus {
              position: relative;
              width: 13px;
              height: 24px;
              margin-right: 16px; }
              .benefits__promo__left__block-price .desc .desc__info .desc__plus .horizontal {
                width: 12px;
                height: 2px;
                background: #71AB28;
                position: absolute;
                top: 8.5px;
                left: 1px; }
              .benefits__promo__left__block-price .desc .desc__info .desc__plus .vertical {
                width: 2px;
                height: 12px;
                background: #71AB28;
                position: absolute;
                top: 4px;
                left: 6px;
                transform: rotate(15deg); }
        .benefits__promo__left__block-price .desc__height {
          height: 45px; }

.block-slider {
  margin-bottom: 72px; }
  .block-slider .container {
    max-width: 1744px;
    margin: 0 auto; }
  .block-slider__title {
    font-family: Proxima Nova Thin;
    font-weight: 400;
    font-size: 48px;
    line-height: 51px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 56px; }
    .block-slider__title span {
      font-family: Proxima Nova Thin;
      font-weight: 600;
      font-size: 48px;
      line-height: 51px; }
  .block-slider__slider .wrap {
    max-width: 1413px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative; }
    .block-slider__slider .wrap .block-image {
      margin-right: 145px; }
    .block-slider__slider .wrap .img-active {
      height: 580px;
      animation-duration: .7s;
      animation-name: slideIn; }
    .block-slider__slider .wrap .ee {
      display: none; }
    .block-slider__slider .wrap .block-image {
      text-align: center; }
      .block-slider__slider .wrap .block-image__img {
        margin-bottom: 18px; }
      .block-slider__slider .wrap .block-image__title {
        margin: 0 0 10px 0; }
      .block-slider__slider .wrap .block-image__doctor {
        margin-bottom: 10px; }
      .block-slider__slider .wrap .block-image__experience {
        margin-bottom: 10px; }
      .block-slider__slider .wrap .block-image__excerpt {
        color: #71AB28;
        text-decoration-style: dotted; }
    .block-slider__slider .wrap__navigation__left:hover {
      background: #3C9C43;
      filter: drop-shadow(0 12px 10px #28AB3570); }
      .block-slider__slider .wrap__navigation__left:hover .wrap__navigation__left__upper {
        background: white; }
      .block-slider__slider .wrap__navigation__left:hover .wrap__navigation__left__lower {
        background: white; }
    .block-slider__slider .wrap__navigation__left {
      width: 44px;
      height: 44px;
      background: #F4F4F4;
      position: absolute;
      top: 190px;
      left: 480px;
      border-radius: 20px; }
      .block-slider__slider .wrap__navigation__left__upper {
        width: 17px;
        height: 1px;
        background: black;
        position: absolute;
        top: 18px;
        left: 10px;
        transform: rotate(-45deg); }
      .block-slider__slider .wrap__navigation__left__lower {
        width: 17px;
        height: 1px;
        background: black;
        position: absolute;
        top: 30px;
        left: 10px;
        transform: rotate(45deg); }
    .block-slider__slider .wrap__navigation__right:hover {
      background: #3C9C43;
      filter: drop-shadow(0 12px 10px #28AB3570); }
      .block-slider__slider .wrap__navigation__right:hover .wrap__navigation__right__upper {
        background: white; }
      .block-slider__slider .wrap__navigation__right:hover .wrap__navigation__right__lower {
        background: white; }
    .block-slider__slider .wrap__navigation__right {
      width: 44px;
      height: 44px;
      background: #F4F4F4;
      position: absolute;
      top: 190px;
      left: 840px;
      border-radius: 20px; }
      .block-slider__slider .wrap__navigation__right__upper {
        width: 17px;
        height: 1px;
        background: black;
        position: absolute;
        top: 18px;
        left: 14px;
        transform: rotate(45deg); }
      .block-slider__slider .wrap__navigation__right__lower {
        width: 17px;
        height: 1px;
        background: black;
        position: absolute;
        top: 30px;
        left: 14px;
        transform: rotate(-45deg); }

@keyframes slideIn {
  0% {
    transform: translateY(50px); }
  100% {
    transform: translateY(0); } }

.block-map {
  position: relative; }
  .block-map__fon {
    position: absolute;
    top: -300px;
    left: -50px;
    z-index: -1; }
  .block-map .container {
    max-width: 1744px;
    margin: 0 auto; }
  .block-map__map {
    padding: 130px;
    margin: 0 auto;
    position: relative; }
    .block-map__map__img {
      width: 100%;
      min-width: 1000px;
      height: 683px;
      object-fit: cover;
      object-position: 100%;
      border-radius: 24px; }
  .block-map__block-form {
    background: #FCFCFC;
    width: 828px;
    height: 605px;
    position: absolute;
    top: 170px;
    left: 170px;
    border-radius: 24px;
    padding: 50px; }
    .block-map__block-form__title {
      font-family: Proxima Nova Thin;
      font-weight: 600;
      font-size: 39px;
      line-height: 50px;
      width: 460px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 50px; }
      .block-map__block-form__title span {
        font-family: Proxima Nova Thin;
        font-weight: 400;
        font-size: 39px;
        line-height: 50px; }
    .block-map__block-form .form {
      display: flex; }
      .block-map__block-form .form .input-date__title {
        font-family: Proxima Nova Thin;
        font-weight: 600;
        font-size: 23px;
        line-height: 29px;
        margin-bottom: 24px;
        text-align: center;
        width: 343px; }
      .block-map__block-form .form__name {
        display: block;
        width: 310px;
        height: 55px;
        background: #EFEFEF;
        border-radius: 34px;
        padding: 0 0 0 37px;
        margin-bottom: 24px;
        border: 0;
        border-top: inset; }
      .block-map__block-form .form__name:focus {
        outline: none; }
      .block-map__block-form .form__phone {
        display: block;
        width: 310px;
        height: 55px;
        background: #EFEFEF;
        border-radius: 34px;
        padding: 0 0 0 37px;
        margin-bottom: 24px;
        border: 0;
        border-top: inset; }
      .block-map__block-form .form__phone:focus {
        outline: none; }
      .block-map__block-form .form__button {
        display: block;
        width: 310px;
        height: 55px;
        background: linear-gradient(0.25turn, #447C2A, #3DB846, #447C2A);
        border-radius: 50px;
        border: 0;
        font-family: Proxima Nova Thin;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: white;
        transition: 0.5s;
        margin-bottom: 22px; }
      .block-map__block-form .form__button:hover {
        filter: drop-shadow(-6px 15px 5px #2A7C3057);
        cursor: pointer; }
      .block-map__block-form .form__hr {
        height: 369px;
        margin: 0 64px;
        border: solid 1px #E1E1E1; }
      .block-map__block-form .form__box {
        display: flex;
        align-items: center;
        width: 250px; }
      .block-map__block-form .form__checkbox {
        margin-right: 8px; }
      .block-map__block-form .form__label a {
        color: #323638; }
      .block-map__block-form .form .phone-socials__title {
        font-family: Proxima Nova Thin;
        font-weight: 600;
        font-size: 23px;
        line-height: 29px;
        text-wrap: balance;
        text-align: center;
        margin-bottom: 44px; }
      .block-map__block-form .form .phone-socials__numbers .number {
        display: flex;
        margin-bottom: 20px;
        align-items: center; }
        .block-map__block-form .form .phone-socials__numbers .number img {
          margin-right: 12px;
          width: 18px;
          height: 18px; }
        .block-map__block-form .form .phone-socials__numbers .number p {
          font-family: Proxima Nova Thin;
          font-weight: 600;
          font-size: 25px;
          line-height: 30px;
          color: #323638; }
          .block-map__block-form .form .phone-socials__numbers .number p span {
            font-weight: 400; }
      .block-map__block-form .form .phone-socials__numbers .work-schedule {
        margin-bottom: 30px; }
        .block-map__block-form .form .phone-socials__numbers .work-schedule__circles {
          display: flex;
          align-items: center; }
          .block-map__block-form .form .phone-socials__numbers .work-schedule__circles .circle-upper {
            width: 10px;
            height: 10px;
            background: #71AB2882;
            border-radius: 10px;
            padding: 2px;
            margin-right: 9px; }
            .block-map__block-form .form .phone-socials__numbers .work-schedule__circles .circle-upper .circle-lower {
              width: 6px;
              height: 6px;
              background: #71AB28;
              border-radius: 10px; }
      .block-map__block-form .form .phone-socials__hr {
        margin-bottom: 30px; }
      .block-map__block-form .form .phone-socials__read-online {
        font-family: Proxima Nova Thin;
        font-weight: 600;
        font-size: 23px;
        line-height: 30px;
        color: #323638;
        margin-bottom: 20px;
        text-align: center; }
      .block-map__block-form .form .phone-socials .socials {
        text-align: center; }
        .block-map__block-form .form .phone-socials .socials a:not(:last-child) {
          margin-right: 9px; }
        .block-map__block-form .form .phone-socials .socials .fa-brands {
          font-size: 25px;
          width: 54px;
          height: 54px;
          padding: 15px;
          color: white;
          border-radius: 30px; }
        .block-map__block-form .form .phone-socials .socials .fa-viber {
          background: #64569E; }
        .block-map__block-form .form .phone-socials .socials .fa-telegram {
          background: #00BBF0; }
        .block-map__block-form .form .phone-socials .socials .fa-whatsapp {
          background: #00AC10; }
  .block-map__point-map {
    position: absolute;
    top: 450px;
    right: 25%; }
    .block-map__point-map svg {
      position: relative;
      z-index: 1;
      height: clamp(170px, 12vw, 239px); }
    .block-map__point-map__addres {
      background: white;
      width: clamp(250px, 20vw, 326px);
      height: 126px;
      border-radius: 24px;
      position: absolute;
      top: 170px;
      left: clamp(50px, 1vw, 100px);
      text-align: center;
      padding: 22px; }
      .block-map__point-map__addres__title {
        font-family: Proxima Nova Thin;
        font-weight: 600;
        font-size: 19px;
        line-height: 24px;
        color: #323638;
        margin-bottom: 15px; }
      .block-map__point-map__addres__text {
        font-family: Proxima Nova Thin;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #777777; }

.footer {
  padding: 30px; }
  .footer .container {
    max-width: 1744px;
    margin: 0 auto; }
  .footer__upper {
    width: clamp(1050px, 80vw, 1416px);
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between; }
  .footer__box-logo {
    display: flex;
    align-items: center; }
    .footer__box-logo img {
      margin-right: 63px; }
    .footer__box-logo p {
      line-height: 26px;
      width: 200px; }
  .footer__navigation {
    display: flex;
    align-items: center; }
    .footer__navigation ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none; }
      .footer__navigation ul li {
        font-family: "Mont Semibold";
        font-weight: 400;
        font-size: 22px;
        line-height: 28px; }
        .footer__navigation ul li a {
          text-decoration: none;
          color: #1E1E1E; }
      .footer__navigation ul li:not(:last-child) {
        margin-right: 90px; }
  .footer hr {
    margin: 0 auto 30px;
    width: clamp(1050px, 80vw, 1416px); }
  .footer__lower {
    width: clamp(1050px, 80vw, 1416px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .footer__politics a {
    color: #447C2A; }

.booking-popup-fon {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  display: none; }

.booking-popup-active {
  display: block; }
  .booking-popup-active .booking-popup {
    padding: 40px;
    width: 440px;
    height: 700px;
    background: #FCFCFC;
    border-radius: 24px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    text-align: center; }
    .booking-popup-active .booking-popup__title {
      font-family: Mont Semibold;
      font-weight: 600;
      font-size: 39px;
      line-height: 45px;
      color: #323638;
      margin-bottom: 15px; }
    .booking-popup-active .booking-popup__subject {
      width: 250px;
      margin: 0 auto;
      text-wrap: balance;
      font-family: Mont Semibold;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #323638;
      margin-bottom: 15px; }
    .booking-popup-active .booking-popup__form {
      transition: .2s ease-in;
      width: 343px; }
    .booking-popup-active .booking-popup__inp-name {
      width: 343px;
      height: 70px;
      background: #EFEFEF;
      border: none;
      border-radius: 34px;
      margin-bottom: 25px;
      padding: 0 0 0 35px; }
      .booking-popup-active .booking-popup__inp-name:focus {
        outline: none; }
    .booking-popup-active .booking-popup__inp-tel {
      width: 343px;
      height: 70px;
      background: #EFEFEF;
      border: none;
      border-radius: 34px;
      margin-bottom: 25px;
      padding: 0 0 0 35px; }
      .booking-popup-active .booking-popup__inp-tel:focus {
        outline: none; }
    .booking-popup-active .booking-popup .select {
      position: relative;
      display: block;
      min-width: 343px;
      width: 100%;
      max-width: 25px;
      margin-bottom: 20px; }
      .booking-popup-active .booking-popup .select__head {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        border-radius: 34px;
        padding: 25px 0 0 35px;
        cursor: pointer;
        background: #efefef;
        height: 70px;
        text-align: left; }
        .booking-popup-active .booking-popup .select__head::after {
          width: 10px;
          height: 6px;
          background: url(/src/img/Active.png) no-repeat center/cover;
          position: absolute;
          right: 20px;
          bottom: 50%;
          transform: translateY(50%);
          content: '';
          display: block; }
      .booking-popup-active .booking-popup .select .open::after {
        transform: translateY(50%) rotate(180deg); }
      .booking-popup-active .booking-popup .select .open {
        border-radius: 0;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px; }
      .booking-popup-active .booking-popup .select__list {
        display: none;
        position: absolute;
        top: 100%;
        left: -2px;
        right: -2px;
        background: #EFEFEF;
        border-bottom-left-radius: 34px;
        border-bottom-right-radius: 34px;
        margin-top: 5px;
        max-height: 205px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 100;
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #424348;
        scrollbar-color: dark;
        scrollbar-width: thin;
        overscroll-behavior: contain; }
        .booking-popup-active .booking-popup .select__list::-webkit-scrollbar {
          width: 7px;
          background-color: #F8F9FA;
          padding: 5px; }
        .booking-popup-active .booking-popup .select__list::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #D9D9D9; }
      .booking-popup-active .booking-popup .select .bl {
        display: block; }
      .booking-popup-active .booking-popup .select__item {
        position: relative;
        border-top: 1px solid rgba(224, 229, 231, 0.5);
        padding: 10px 15px;
        cursor: pointer;
        list-style: none; }
        .booking-popup-active .booking-popup .select__item:hover {
          background-color: rgba(224, 229, 231, 0.5); }
    .booking-popup-active .booking-popup__btn {
      width: 343px;
      height: 70px;
      background: linear-gradient(0.25turn, #447C2A, #3DB846, #447C2A);
      border-radius: 50px;
      border: none;
      color: white;
      margin-bottom: 20px;
      cursor: pointer; }

@media (max-width: 1529px) {
  .header__logo-group .logo {
    width: 90px; }
  .header__group-text img {
    width: 180px; }
  .header__group-text p {
    font-size: 15px;
    margin-left: 10px; }
  .header__navigation__list li {
    font-size: 17px; }
  .header__navigation__list li:not(:last-child) {
    margin-right: clamp(25px, 4vw, 68px); }
  .header__contacts .phone {
    margin-right: 35px; }
  .header__contacts .order-call {
    width: 240px;
    font-size: 17px;
    height: 67px;
    padding: 20px 0 0 60px; }
  .picture__title__subject {
    font-size: 54px; }
  .picture__title__text {
    font-size: 22px; }
  .picture__list {
    font-size: 19px; }
  .main__fon-picture {
    top: 1080px; }
  .main__conditions {
    padding: 20px; }
    .main__conditions__picture {
      width: auto; }
      .main__conditions__picture img {
        width: 650px; }
  .main__offer-list__title {
    font-size: 38px; }
    .main__offer-list__title span {
      font-size: 38px; }
  .block-carousel__upper {
    padding: 0 20px;
    margin-bottom: 20px; }
    .block-carousel__upper__title {
      font-size: 28px;
      line-height: 40px;
      margin-right: clamp(100px, 15vw, 410px); }
    .block-carousel__upper__sign-up {
      font-size: 15px;
      padding: 25px 0 0 30px;
      height: auto;
      width: 236px; }
  .block-carousel .ovw {
    width: 1080px; }
  .block-carousel__carousel {
    width: 1080px; }
    .block-carousel__carousel__image {
      width: 230px;
      height: 450px; }
    .block-carousel__carousel .carousel-active {
      width: 572px; }
    .block-carousel__carousel .ww {
      width: 0; }
  .benefits__title {
    font-size: 38px; }
    .benefits__title span {
      font-size: 38px; }
  .block-slider .container {
    width: 1045px; }
  .block-slider__title {
    font-size: 38px; }
    .block-slider__title span {
      font-size: 38px; }
  .block-slider__slider .wrap {
    height: 530px; }
    .block-slider__slider .wrap .block-image__img {
      width: 250px; }
    .block-slider__slider .wrap .img-active {
      height: 500px; }
    .block-slider__slider .wrap__navigation__left {
      top: 130px;
      left: 370px; }
    .block-slider__slider .wrap__navigation__right {
      top: 130px;
      left: 625px; }
  .block-map__fon {
    width: 890px;
    top: -220px; }
  .block-map__map__img {
    position: relative;
    object-position: 55%; }
  .block-map__block-form {
    padding: 15px;
    width: 720px;
    left: 170px; }
    .block-map__block-form__title {
      font-size: 29px; }
      .block-map__block-form__title span {
        font-size: 29px; }
    .block-map__block-form .form .input-date__title {
      width: auto; }
    .block-map__block-form .form__hr {
      margin: 0 15px; }
    .block-map__block-form .form .phone-socials {
      text-align: center; }
      .block-map__block-form .form .phone-socials__numbers .number {
        justify-content: center; }
      .block-map__block-form .form .phone-socials__numbers .work-schedule__circles {
        justify-content: center; }
  .block-map__point-map {
    top: 480px;
    right: clamp(10%, 15vw, 22%); }
    .block-map__point-map__addres {
      width: 220px; }
  .footer__navigation ul li {
    font-size: 17px; } }

@media (max-width: 1199px) {
  .container {
    width: 960px; }
  .header__logo-group .logo {
    width: 70px; }
  .header__group-text img {
    width: 170px; }
  .header__group-text p {
    font-size: 13px;
    margin-left: 0; }
  .header__navigation .header__navigation__list li {
    margin-right: 13px;
    font-size: 14px; }
  .header__contacts .phone {
    margin-right: 20px; }
    .header__contacts .phone__text {
      font-size: 13px; }
    .header__contacts .phone__number {
      font-size: 15px; }
  .header__contacts .order-call {
    width: 210px;
    height: 60px;
    padding: 15px 0 0 50px; }
  .picture .container {
    position: relative; }
  .picture__image {
    height: 640px; }
  .picture__title {
    left: 50px; }
    .picture__title__subject {
      font-size: 34px; }
  .picture__list {
    left: 45px;
    font-size: 18px; }
  .main__fon-picture {
    top: 980px; }
  .main__conditions__desc {
    width: 410px; }
    .main__conditions__desc__title {
      font-size: 38px; }
      .main__conditions__desc__title span {
        font-size: 38px; }
    .main__conditions__desc__text {
      font-size: 20px; }
  .main__conditions__picture {
    width: 500px; }
    .main__conditions__picture img {
      width: 500px; }
  .main__offer-list__title {
    font-size: 28px;
    width: 690px; }
    .main__offer-list__title span {
      font-size: 28px; }
  .main__offer-list__left {
    width: auto; }
    .main__offer-list__left__lower {
      width: 200px; }
    .main__offer-list__left__image {
      width: 200px; }
    .main__offer-list__left__upper {
      width: 200px; }
    .main__offer-list__left .circle {
      top: 170px;
      left: 110px;
      width: 180px;
      height: 180px; }
      .main__offer-list__left .circle img {
        width: 120px; }
  .main__offer-list__right .left-list .list-width {
    margin-bottom: 30px; }
  .main__offer-list__right .right-list .list-width {
    margin-bottom: 30px; }
  .block-carousel__upper {
    justify-content: space-between; }
    .block-carousel__upper__title {
      margin-right: 0;
      width: auto; }
  .block-carousel .ovw {
    width: 870px; }
  .block-carousel__carousel {
    width: 870px; }
    .block-carousel__carousel__image {
      width: 170px; }
    .block-carousel__carousel .carousel-active {
      width: 522px; }
  .block-video .container video {
    width: 100%;
    height: 540px; }
  .benefits__title {
    width: 660px;
    font-size: 28px;
    margin-bottom: 30px; }
    .benefits__title span {
      font-size: 28px; }
  .benefits__promo {
    width: 950px; }
    .benefits__promo__left {
      margin-right: 40px; }
      .benefits__promo__left .headline-btn .headline {
        font-size: 45px; }
      .benefits__promo__left__block-price .block-price__heading .info {
        margin-bottom: 7px; }
        .benefits__promo__left__block-price .block-price__heading .info__caption {
          font-size: 18px; }
        .benefits__promo__left__block-price .block-price__heading .info__price {
          font-size: 21px; }
    .benefits__promo__right {
      width: 400px; }
      .benefits__promo__right img {
        width: 100%; }
  .benefits__promo__right {
    width: 480px; }
  .block-slider .container {
    width: 960px; }
  .block-slider__title {
    font-size: 28px; }
    .block-slider__title span {
      font-size: 28px; }
  .block-slider__slider .wrap {
    width: 960px; }
    .block-slider__slider .wrap .block-image:not(:last-child) {
      margin-right: 90px; }
    .block-slider__slider .wrap__navigation__left {
      left: 315px; }
    .block-slider__slider .wrap__navigation__right {
      left: 570px; }
  .block-map__map {
    padding: 170px; }
    .block-map__map__img {
      min-width: 0;
      width: 719px;
      height: 1110px;
      object-position: 90%; }
  .block-map__block-form {
    top: 130px; }
  .block-map__point-map {
    top: 790px;
    right: 50%; }
    .block-map__point-map__addres {
      width: 330px; }
  .footer {
    padding: 15px; }
    .footer__upper {
      width: 900px; }
    .footer__box-logo img {
      width: 130px;
      margin-right: 35px; }
    .footer__navigation ul li:not(:last-child) {
      margin-right: 50px; }
    .footer hr {
      width: 850px;
      margin: 30px auto; }
    .footer__lower {
      width: 900px; } }

@media (max-width: 991px) {
  .container {
    width: 720px; }
  .header .container .burger {
    display: block; }
  .header__navigation {
    -webkit-transition: 1s all;
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 67px;
    width: 320px;
    height: 100dvh;
    background: #FCFCFCDE;
    padding: 20px 0 0 20px; }
    .header__navigation .header__navigation__list {
      display: block; }
      .header__navigation .header__navigation__list li:not(:last-child) {
        margin-bottom: 10px; }
      .header__navigation .header__navigation__list li {
        border-bottom: 1px solid #D6D6D6;
        padding-bottom: 10px; }
        .header__navigation .header__navigation__list li a {
          font-size: 22px; }
  .header .header-navigation-active {
    display: block;
    transition: all 1s; }
  .header__contacts .phone {
    display: none; }
  .header__contacts .order-call {
    display: none; }
  .header__contacts .header__phone {
    display: none; }
  .header__contacts .header__phone-active {
    display: block;
    position: fixed;
    z-index: 1;
    right: -20px;
    top: 295px;
    width: 320px;
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 10px; }
    .header__contacts .header__phone-active .number__telephone {
      font-family: Mont Semibold;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 15px; }
    .header__contacts .header__phone-active .number {
      display: flex;
      margin-bottom: 15px; }
      .header__contacts .header__phone-active .number img {
        margin-right: 10px; }
      .header__contacts .header__phone-active .number p {
        font-family: Mont Semibold;
        font-weight: 400;
        font-size: 25px;
        line-height: 20px; }
        .header__contacts .header__phone-active .number p span {
          font-family: Proxima Nova Thin;
          font-weight: 300;
          font-size: 25px;
          line-height: 20px; }
    .header__contacts .header__phone-active .work-schedule__circles {
      display: flex;
      align-items: center; }
      .header__contacts .header__phone-active .work-schedule__circles .circle-upper {
        width: 10px;
        height: 10px;
        background: #71AB2882;
        border-radius: 10px;
        padding: 2px;
        margin-right: 20px; }
        .header__contacts .header__phone-active .work-schedule__circles .circle-upper .circle-lower {
          width: 6px;
          height: 6px;
          background: #71AB28;
          border-radius: 10px; }
  .header__contacts .burger-socials {
    display: none; }
  .header__contacts .burger-socials-active {
    display: block;
    position: fixed;
    z-index: 1;
    right: 126px;
    top: 410px; }
    .header__contacts .burger-socials-active .phone-socials__read-online {
      font-family: Proxima Nova Thin;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 15px; }
    .header__contacts .burger-socials-active .socials a .fa-brands {
      font-size: 22px;
      width: 54px;
      height: 54px;
      padding: 16px;
      color: white;
      border-radius: 30px; }
    .header__contacts .burger-socials-active .socials a .fa-brands:not(:last-child) {
      margin-right: 10px; }
    .header__contacts .burger-socials-active .socials a .fa-viber {
      background: #64569E; }
    .header__contacts .burger-socials-active .socials a .fa-telegram {
      background: #00BBF0; }
    .header__contacts .burger-socials-active .socials a .fa-whatsapp {
      background: #00AC10; }
  .picture__title {
    top: 0;
    width: 640px; }
    .picture__title__subject {
      font-size: 24px; }
    .picture__title__text {
      font-size: 18px; }
  .picture__list {
    display: block;
    top: 380px;
    font-size: 20px;
    width: 640px; }
    .picture__list li:not(:last-child) {
      margin-bottom: 15px; }
  .main {
    margin-bottom: 40px; }
    .main__conditions {
      display: block; }
      .main__conditions__desc {
        width: auto;
        margin: 0 auto; }
        .main__conditions__desc__title {
          font-size: 28px; }
          .main__conditions__desc__title span {
            font-size: 28px; }
        .main__conditions__desc__text {
          font-size: 18px; }
      .main__conditions__picture {
        margin: 0 auto; }
    .main__offer-list__flex {
      display: block; }
    .main__offer-list__left {
      width: 425px;
      margin: 0 auto 40px; }
    .main__offer-list__right {
      width: 570px;
      margin: 0 auto; }
      .main__offer-list__right .left-list .list-width {
        width: 280px;
        margin-right: 10px; }
      .main__offer-list__right .right-list .list-width {
        width: 280px; }
  .block-carousel .ovw {
    width: 644px; }
  .block-carousel__carousel {
    width: 644px;
    overflow-x: scroll;
    overflow-y: hidden; }
    .block-carousel__carousel__image {
      width: 700px; }
    .block-carousel__carousel .carousel-active {
      margin: 0 auto;
      width: auto; }
  .block-carousel .btn-left {
    display: none; }
  .block-carousel .btn-right {
    display: none; }
  .block-video {
    margin-bottom: 40px; }
    .block-video .container video {
      height: 405px; }
  .benefits__promo {
    display: block;
    width: auto;
    padding: 40px; }
    .benefits__promo__left {
      margin-bottom: 20px; }
    .benefits__promo__right {
      margin: 0 auto; }
  .block-slider .container {
    width: 720px; }
  .block-slider__slider .wrap {
    width: auto; }
    .block-slider__slider .wrap .block-image:not(:last-child) {
      margin-right: 60px; }
    .block-slider__slider .wrap .block-image {
      width: 190px; }
      .block-slider__slider .wrap .block-image img {
        width: 190px; }
    .block-slider__slider .wrap .img-active {
      height: 390px; }
    .block-slider__slider .wrap__navigation__left {
      top: 205px;
      left: 235px; }
    .block-slider__slider .wrap__navigation__right {
      top: 205px;
      left: 415px; }
  .block-map__fon {
    width: 790px; }
  .block-map__map__img {
    width: 490px;
    height: 1400px;
    object-position: 80%; }
  .block-map__block-form {
    width: 492px;
    height: 900px; }
    .block-map__block-form__title {
      margin-bottom: 20px; }
    .block-map__block-form .form {
      display: block; }
      .block-map__block-form .form__name {
        margin: 0 auto;
        margin-bottom: 20px; }
      .block-map__block-form .form__phone {
        margin: 0 auto;
        margin-bottom: 20px; }
      .block-map__block-form .form__button {
        margin: 0 auto;
        margin-bottom: 20px; }
      .block-map__block-form .form__box {
        margin: 0 auto;
        margin-bottom: 20px; }
      .block-map__block-form .form__hr {
        height: auto;
        width: 300px;
        margin: 25px auto; }
  .block-map__point-map {
    top: 1020px; }
    .block-map__point-map__addres {
      top: 200px; }
  .footer__upper {
    width: auto; }
  .footer__box-logo {
    display: block; }
    .footer__box-logo img {
      margin-right: 0;
      margin-bottom: 20px; }
  .footer hr {
    width: 710px; }
  .footer__lower {
    width: auto; } }

@media (max-width: 767px) {
  .container {
    width: 540px; }
  .picture__image {
    height: 570px; }
  .picture__title {
    width: auto; }
    .picture__title__subject {
      line-height: 30px; }
  .picture__list {
    top: 320px;
    width: auto; }
  .main__fon-picture {
    top: 650px; }
  .main__conditions__desc__title {
    line-height: 30px;
    margin-bottom: 30px; }
  .main__offer-list {
    width: auto; }
    .main__offer-list__title {
      width: auto; }
    .main__offer-list__right {
      width: auto; }
      .main__offer-list__right .left-list .list-width {
        width: 260px; }
      .main__offer-list__right .right-list .list-width {
        width: 260px; }
  .block-carousel__upper {
    display: block; }
    .block-carousel__upper__title {
      margin-bottom: 30px; }
    .block-carousel__upper__sign-up {
      padding: 16px 30px;
      height: 60px; }
  .block-carousel .ovw {
    width: auto; }
  .block-carousel__carousel {
    width: auto; }
    .block-carousel__carousel__image {
      width: 540px; }
    .block-carousel__carousel .carousel-active {
      width: auto; }
  .block-video .container video {
    height: 303px; }
  .benefits__title {
    width: auto; }
  .benefits__promo__right {
    width: 459px; }
  .block-slider .container {
    width: 540px; }
  .block-slider__slider .wrap {
    width: 550px; }
    .block-slider__slider .wrap .block-image {
      width: 143px; }
      .block-slider__slider .wrap .block-image .block-image__img {
        width: 143px; }
      .block-slider__slider .wrap .block-image__title {
        font-size: 16px; }
      .block-slider__slider .wrap .block-image__doctor {
        font-size: 10px; }
    .block-slider__slider .wrap__navigation__left {
      top: 190px;
      left: 175px; }
    .block-slider__slider .wrap__navigation__right {
      top: 190px;
      left: 325px; }
  .block-map__fon {
    width: 590px;
    top: -110px; }
  .block-map__map {
    padding: 130px 0 0 30px; }
  .block-map__block-form {
    left: 30px; }
  .footer__navigation ul {
    display: block; }
    .footer__navigation ul li {
      font-size: 20px; }
    .footer__navigation ul li:not(:last-child) {
      margin-bottom: 20px; }
  .footer hr {
    width: 510px; } }

@media (max-width: 575px) {
  .container {
    width: 335px; }
  .picture__image {
    border-radius: 24px; }
  .picture__title {
    left: 13px;
    width: 320px; }
    .picture__title__subject {
      font-size: 24px; }
    .picture__title__text {
      font-size: 15px;
      width: auto; }
  .picture__list {
    left: 13px;
    font-size: 15px;
    width: 320px; }
    .picture__list li {
      width: auto; }
  .main__conditions__desc__title {
    font-size: 25px;
    line-height: 30px; }
    .main__conditions__desc__title span {
      font-size: 25px;
      line-height: 30px; }
  .main__conditions__desc__text {
    font-size: 15px; }
  .main__conditions__picture {
    width: 320px; }
    .main__conditions__picture img {
      width: 100%; }
  .main__offer-list__title {
    font-size: 25px;
    line-height: 30px;
    width: 300px;
    margin-left: 20px; }
    .main__offer-list__title span {
      font-size: 25px;
      line-height: 30px; }
  .main__offer-list__left {
    width: 340px; }
    .main__offer-list__left__lower {
      width: 160px; }
    .main__offer-list__left__image {
      width: 160px; }
    .main__offer-list__left__upper {
      width: 160px; }
    .main__offer-list__left .circle {
      top: 130px;
      left: 90px;
      width: 160px;
      height: 160px; }
      .main__offer-list__left .circle img {
        width: 100px; }
  .main__offer-list__right {
    display: block; }
    .main__offer-list__right .left-list {
      padding-left: 20px; }
      .main__offer-list__right .left-list .list-width {
        width: 320px; }
        .main__offer-list__right .left-list .list-width .mini-circle {
          width: 42px;
          height: 42px; }
          .main__offer-list__right .left-list .list-width .mini-circle img {
            padding: 15px 10px 10px 10px; }
    .main__offer-list__right .right-list {
      padding-left: 20px; }
      .main__offer-list__right .right-list .list-width {
        width: 320px; }
        .main__offer-list__right .right-list .list-width .mini-circle {
          width: 42px;
          height: 42px; }
          .main__offer-list__right .right-list .list-width .mini-circle img {
            padding: 15px 10px 10px 10px; }
  .block-carousel__upper__title {
    font-size: 25px; }
  .block-carousel__upper__sign-up {
    width: auto;
    padding: 16px 43px;
    font-size: 18px; }
  .block-carousel__carousel__image {
    width: 335px; }
  .block-carousel__carousel .carousel-active {
    width: 335px; }
  .block-video .container video {
    height: 190px; }
  .benefits {
    width: 350px; }
    .benefits__title {
      font-size: 22px; }
      .benefits__title span {
        font-size: 22px; }
    .benefits__promo__left .headline-btn {
      display: block;
      margin-bottom: 20px; }
      .benefits__promo__left .headline-btn .headline {
        line-height: 50px; }
      .benefits__promo__left .headline-btn .btn {
        width: auto;
        padding: 20px 0 20px 40px; }
    .benefits__promo__left__block-price {
      padding: 10px;
      width: 275px; }
      .benefits__promo__left__block-price .block-price__heading .info__block-text {
        display: block;
        width: auto; }
        .benefits__promo__left__block-price .block-price__heading .info__block-text hr {
          display: none; }
      .benefits__promo__left__block-price .block-price__heading .info__caption {
        font-size: 16px; }
      .benefits__promo__left__block-price .block-price__heading .info__price {
        font-size: 18px; }
    .benefits__promo__right {
      width: 273px; }
  .block-slider .container {
    width: 340px; }
  .block-slider__title {
    font-size: 24px; }
    .block-slider__title span {
      font-size: 24px;
      margin: 0; }
  .block-slider__slider .wrap {
    height: 300px;
    width: 100%; }
    .block-slider__slider .wrap .block-image:not(:last-child) {
      margin-right: 50px; }
    .block-slider__slider .wrap .img-active {
      height: auto; }
    .block-slider__slider .wrap__navigation__left {
      top: 0;
      left: 0; }
    .block-slider__slider .wrap__navigation__right {
      top: 0;
      left: 295px; }
  .block-map__fon {
    width: 370px;
    top: -20px; }
  .block-map__map__img {
    width: 310px; }
  .block-map__block-form {
    width: 310px; }
    .block-map__block-form__title {
      width: 100%;
      font-size: 20px;
      line-height: 30px; }
      .block-map__block-form__title span {
        font-size: 20px;
        line-height: 30px; }
    .block-map__block-form .form .input-date__title {
      font-size: 20px; }
    .block-map__block-form .form__name {
      width: 100%; }
    .block-map__block-form .form__phone {
      width: 100%; }
    .block-map__block-form .form__button {
      width: 100%; }
    .block-map__block-form .form .phone-socials__title {
      font-size: 20px; }
    .block-map__block-form .form .phone-socials__numbers .number p {
      font-size: 20px; }
    .block-map__block-form .form .phone-socials__read-online {
      font-size: 20px; }
    .block-map__block-form .form__hr {
      width: 270px; }
  .block-map__point-map__addres {
    left: 20px;
    width: 290px; }
  .footer__upper {
    display: block; }
  .footer__box-logo {
    display: flex; }
    .footer__box-logo img {
      margin-right: 50px; }
    .footer__box-logo p {
      font-size: 18px; }
  .footer hr {
    width: auto; }
  .footer__lower {
    display: block; } }
