* {
  box-sizing: border-box; }

body {
  padding-top: 9px;
  background: #FFF0D957; }

@font-face {
  font-family: 'Mont Light';
  src: local("Mont Light");
  src: url("/src/fonts/Mont-Light.eot");
  src: url("/src/fonts/Mont-Light.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Mont-Light.woff") format("woff"), url("/src/fonts/Mont-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mont Semibold';
  src: local("Mont Semibold");
  src: url("/src/fonts/Mont-SemiBold.eot");
  src: url("/src/fonts/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Mont-SemiBold.woff") format("woff"), url("/src/fonts/Mont-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mont Extra Light';
  src: local("Mont Extra Light");
  src: url("/src/fonts/Mont-ExtraLight.eot");
  src: url("/src/fonts/Mont-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Mont-ExtraLight.woff") format("woff"), url("/src/fonts/Mont-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("/src/fonts/ProximaNovaT-Thin.eot");
  src: url("/src/fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("/src/fonts/ProximaNovaT-Thin.woff") format("woff"), url("/src/fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header {
  margin-bottom: 18px; }
  .header .container {
    max-width: 1744px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .header__logo-group {
    display: flex;
    align-items: center; }
    .header__logo-group .logo {
      margin-right: 12px; }
  .header__group-text__txt {
    margin-left: 40px; }
  .header__navigation {
    display: flex;
    align-items: center; }
    .header__navigation__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0; }
      .header__navigation__list li {
        margin-right: 68px;
        font-family: Mont Semibold;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px; }
        .header__navigation__list li a {
          text-decoration: none;
          color: black; }
  .header__contacts {
    display: flex;
    align-items: center; }
    .header__contacts .phone {
      margin-right: 53px; }
      .header__contacts .phone__text {
        font-family: Mont Semibold;
        font-weight: 200;
        font-size: 16px;
        line-height: 20px;
        color: #1E1E1E9E; }
      .header__contacts .phone__number {
        font-family: Mont Semibold;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px; }
    .header__contacts .order-call {
      width: 289px;
      height: 77px;
      background: linear-gradient(0.25turn, #447C2A, #3DB846, #447C2A);
      border-radius: 40px;
      padding: 25px 0 0 70px;
      color: white;
      font-family: 'Mont Extra Light';
      font-size: 20px;
      line-height: 26px;
      cursor: pointer; }

.picture {
  position: relative; }
  .picture .container {
    max-width: 1744px;
    margin: 0 auto; }
  .picture__image {
    border-radius: 90px;
    height: 751px;
    width: 100%;
    object-fit: cover;
    object-position: 78%; }
  .picture__title {
    position: absolute;
    top: 176px;
    left: 161px;
    color: white;
    width: 891px; }
    .picture__title__subject {
      font-family: 'Mont Light';
      font-weight: 900;
      font-size: 74px;
      line-height: 89px; }
    .picture__title__text {
      font-family: 'Mont Light';
      font-weight: 400;
      font-size: 32px;
      line-height: 35px;
      width: 400px; }
  .picture__list {
    position: absolute;
    bottom: 60px;
    left: 161px;
    display: flex;
    justify-content: space-between;
    width: 1450px;
    color: white;
    font-family: 'Mont Light';
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    list-style: none; }
    .picture__list li {
      width: 381px;
      display: flex;
      align-items: baseline; }
    .picture__list__circle {
      border-radius: 200%;
      background: #71AB28;
      width: 13px;
      height: 13px;
      margin-right: 22px; }

.main {
  margin-bottom: 114px;
  position: relative; }
  .main__fon-picture {
    position: absolute;
    top: 1000px;
    right: 0; }
  .main .container {
    max-width: 1744px;
    margin: 0 auto; }
  .main__conditions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px; }
    .main__conditions__desc {
      width: 605px; }
      .main__conditions__desc__title {
        font-family: 'Proxima Nova Thin';
        font-weight: 200;
        font-size: 48px;
        line-height: 61px;
        color: #323638;
        margin: 0 0 52px 0; }
        .main__conditions__desc__title span {
          font-family: 'Proxima Nova Thin';
          font-weight: 600;
          font-size: 48px;
          line-height: 61px;
          color: #323638; }
      .main__conditions__desc__text {
        font-family: 'Proxima Nova Thin';
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: #747474; }
    .main__conditions__picture {
      width: 859px; }
  .main__offer-list {
    width: 1472px;
    margin: 0 auto; }
    .main__offer-list__flex {
      display: flex;
      align-items: center; }
    .main__offer-list__title {
      font-family: 'Proxima Nova Thin';
      font-weight: 300;
      font-size: 48px;
      line-height: 61px;
      margin: 0 auto;
      width: 1160px;
      color: #323638;
      margin-bottom: 56px; }
      .main__offer-list__title span {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: 48px;
        line-height: 61px; }
    .main__offer-list__left {
      width: 600px;
      position: relative;
      margin-right: 43px;
      display: flex; }
      .main__offer-list__left__lower {
        width: 280px;
        margin-top: 47px;
        margin-right: 24px; }
      .main__offer-list__left__upper {
        width: 280px; }
      .main__offer-list__left__image {
        border-radius: 24px; }
      .main__offer-list__left__image:nth-child(1) {
        margin-bottom: 24px; }
      .main__offer-list__left .circle {
        position: absolute;
        top: 240px;
        left: 190px;
        background: white;
        width: 204px;
        height: 204px;
        border-radius: 100px;
        padding: 50px 0 0 30px; }
    .main__offer-list__right {
      display: flex; }
      .main__offer-list__right .left-list .list-width {
        width: 400px;
        margin-bottom: 80px;
        margin-right: 47px; }
      .main__offer-list__right .left-list .service {
        display: flex; }
      .main__offer-list__right .left-list .care {
        display: flex; }
      .main__offer-list__right .left-list .house {
        display: flex; }
      .main__offer-list__right .left-list .mini-circle {
        background: white;
        width: 52px;
        height: 52px;
        border: 1px solid #D1D1D1;
        border-radius: 100px;
        margin-right: 18px; }
        .main__offer-list__right .left-list .mini-circle img {
          padding: 20px 15px 10px 16px; }
      .main__offer-list__right .left-list .list__title {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 22px; }
      .main__offer-list__right .left-list .list__text {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #747474; }
      .main__offer-list__right .right-list .list-width {
        width: 400px;
        margin-bottom: 80px; }
      .main__offer-list__right .right-list .prices {
        display: flex; }
      .main__offer-list__right .right-list .location {
        display: flex; }
      .main__offer-list__right .right-list .environment {
        display: flex; }
      .main__offer-list__right .right-list .mini-circle {
        background: white;
        width: 52px;
        height: 52px;
        border: 1px solid #D1D1D1;
        border-radius: 100px;
        margin-right: 18px; }
        .main__offer-list__right .right-list .mini-circle img {
          padding: 20px 15px 10px 16px; }
      .main__offer-list__right .right-list .list__title {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 22px; }
      .main__offer-list__right .right-list .list__text {
        font-family: 'Proxima Nova Thin';
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #747474; }

.block-carousel {
  position: relative; }
  .block-carousel .container {
    max-width: 1744px;
    margin: 0 auto; }
  .block-carousel__upper {
    display: flex;
    justify-content: center;
    margin-bottom: 56px; }
    .block-carousel__upper__title {
      font-family: Mont Semibold;
      font-weight: 200;
      font-size: 48px;
      line-height: 61px;
      width: 730px;
      margin: 0 410px 0 0; }
      .block-carousel__upper__title span {
        font-weight: 600; }
    .block-carousel__upper__sign-up {
      width: 336px;
      height: 87px;
      background: linear-gradient(0.25turn, #447C2A, #3DB846, #447C2A);
      border-radius: 50px;
      padding: 30px 0 0 55px;
      color: white;
      font-family: Mont Semibold;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      cursor: pointer; }
  .block-carousel .btn-left {
    width: 68px;
    height: 68px;
    background: white;
    position: absolute;
    top: 400px;
    left: 205px;
    border-radius: 40px;
    cursor: pointer; }
    .block-carousel .btn-left__upper {
      position: absolute;
      top: 30px;
      left: 23px;
      width: 15px;
      border: 1px solid #869EA9;
      transform: rotate(-40deg); }
    .block-carousel .btn-left__lower {
      position: absolute;
      top: 39px;
      left: 23px;
      width: 15px;
      border: 1px solid #869EA9;
      transform: rotate(40deg); }
  .block-carousel .btn-left:hover {
    background: #3C9C43; }
    .block-carousel .btn-left:hover .btn-left__upper {
      border: 1px solid white; }
    .block-carousel .btn-left:hover .btn-left__lower {
      border: 1px solid white; }
  .block-carousel .btn-right {
    width: 68px;
    height: 68px;
    background: white;
    position: absolute;
    top: 400px;
    right: 205px;
    border-radius: 40px;
    cursor: pointer; }
    .block-carousel .btn-right__upper {
      position: absolute;
      top: 30px;
      left: 28px;
      width: 15px;
      border: 1px solid #869EA9;
      transform: rotate(40deg); }
    .block-carousel .btn-right__lower {
      position: absolute;
      top: 39px;
      left: 28px;
      width: 15px;
      border: 1px solid #869EA9;
      transform: rotate(-40deg); }
  .block-carousel .btn-right:hover {
    background: #3C9C43; }
    .block-carousel .btn-right:hover .btn-right__upper {
      border: 1px solid white; }
    .block-carousel .btn-right:hover .btn-right__lower {
      border: 1px solid white; }
  .block-carousel .ovw {
    width: 1413px;
    height: 484px;
    overflow: hidden;
    margin: 0 auto; }
  .block-carousel__carousel {
    display: flex;
    margin: 0 auto;
    width: 1416px;
    transition: all 1s; }
    .block-carousel__carousel__image {
      width: 336px;
      height: 484px;
      border-radius: 24px;
      transition: all 1s; }
    .block-carousel__carousel .carousel-active {
      margin: 0 24px;
      width: 696px; }

.ww {
  width: 0; }
