*
    box-sizing: border-box

body
    padding-top: 9px
    background: #FFF0D957

@font-face 
    font-family: 'Mont Light'
    src: local('Mont Light')
    src: url('/src/fonts/Mont-Light.eot')
    src: url('/src/fonts/Mont-Light.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/Mont-Light.woff') format('woff'),
    url('/src/fonts/Mont-Light.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Mont Semibold'
    src: local('Mont Semibold')
    src: url('/src/fonts/Mont-SemiBold.eot')
    src: url('/src/fonts/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/Mont-SemiBold.woff') format('woff'),
    url('/src/fonts/Mont-SemiBold.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Mont Extra Light'
    src: local('Mont Extra Light')
    src: url('/src/fonts/Mont-ExtraLight.eot')
    src: url('/src/fonts/Mont-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/Mont-ExtraLight.woff') format('woff'),
    url('/src/fonts/Mont-ExtraLight.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Proxima Nova Thin'
    src: url('/src/fonts/ProximaNovaT-Thin.eot')
    src: url('/src/fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/ProximaNovaT-Thin.woff') format('woff'),
    url('/src/fonts/ProximaNovaT-Thin.ttf') format('truetype')
    font-weight: normal
    font-style: normal





.header
    margin-bottom: 18px
    .container
        max-width: 1744px
        margin: 0 auto
        display: flex
        justify-content: space-between
    &__logo-group
        display: flex
        align-items: center
        // margin-right: 111px
        .logo
            margin-right: 12px
    &__group-text
        &__txt
            margin-left: 40px
    &__navigation
        // margin-right: 109px
        display: flex
        align-items: center
        &__list
            display: flex
            list-style: none
            margin: 0
            padding: 0
            li
                margin-right: 68px
                font-family: Mont Semibold
                font-weight: 400
                font-size: 22px
                line-height: 28px
                a
                    text-decoration: none
                    color: black
    &__contacts
        display: flex
        align-items: center
        .phone
            margin-right: 53px
            &__text
                font-family: Mont Semibold
                font-weight: 200
                font-size: 16px
                line-height: 20px
                color: #1E1E1E9E
            &__number
                font-family: Mont Semibold
                font-weight: 600
                font-size: 16px
                line-height: 20px
        .order-call
            width: 289px
            height: 77px
            background: linear-gradient(0.25turn,#447C2A, #3DB846, #447C2A)
            border-radius: 40px
            padding: 25px 0 0 70px
            color: white
            font-family: 'Mont Extra Light'
            // font-weight: 600
            font-size: 20px
            line-height: 26px
            cursor: pointer

.picture
    position: relative
    .container
        max-width: 1744px
        margin: 0 auto
    &__image
        border-radius: 90px
        height: 751px
        width: 100%
        object-fit: cover
        object-position: 78%
    &__title
        position: absolute
        top: 176px
        left: 161px
        color: white
        width: 891px
        &__subject
            font-family: 'Mont Light'
            font-weight: 900
            font-size: 74px
            line-height: 89px
        &__text
            font-family: 'Mont Light'
            font-weight: 400
            font-size: 32px
            line-height: 35px
            width: 400px
    &__list
        position: absolute
        bottom: 60px
        left: 161px
        display: flex
        justify-content: space-between
        width: 1450px
        color: white
        font-family: 'Mont Light'
        font-weight: 600
        font-size: 24px
        line-height: 31px
        list-style: none
        li
            width: 381px
            display: flex
            align-items: baseline
        &__circle
            border-radius: 200%  
            background: #71AB28
            width: 13px
            height: 13px
            margin-right: 22px
            

.main
    margin-bottom: 114px
    position: relative
    &__fon-picture
        position: absolute
        top: 1000px
        right: 0
    .container
        max-width: 1744px
        margin: 0 auto
    &__conditions
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 6px
        &__desc
            width: 605px
            &__title
                font-family: 'Proxima Nova Thin'
                font-weight: 200
                font-size: 48px
                line-height: 61px
                color: #323638
                margin: 0 0 52px 0
                span
                    font-family: 'Proxima Nova Thin'
                    font-weight: 600
                    font-size: 48px
                    line-height: 61px
                    color: #323638
            &__text
                font-family: 'Proxima Nova Thin'
                font-weight: 500
                font-size: 24px
                line-height: 31px
                color: #747474
        &__picture
            width: 859px
            img
                mix-blend-mode: darken
    &__offer-list
        width: 1472px
        margin: 0 auto
        &__flex
            display: flex
            align-items: center
        &__title
            font-family: 'Proxima Nova Thin'
            font-weight: 300
            font-size: 48px
            line-height: 61px
            margin: 0 auto
            width: 1160px
            color: #323638
            margin-bottom: 56px
            span
                font-family: 'Proxima Nova Thin'
                font-weight: 600
                font-size: 48px
                line-height: 61px
        &__left
            width: 600px
            position: relative
            margin-right: 43px
            display: flex
            &__lower
                width: 280px
                margin-top: 47px
                margin-right: 24px
            &__upper
                width: 280px
            &__image
                border-radius: 24px
            &__image:nth-child(1)
                margin-bottom: 24px
            .circle
                position: absolute
                top: 240px
                left: 190px
                background: white
                width: 204px
                height: 204px
                border-radius: 100px
                padding: 50px 0 0 30px
        &__right
            display: flex
            .left-list
                .list-width
                    width: 400px
                    margin-bottom: 80px
                    margin-right: 47px
                .service
                    display: flex
                .care
                    display: flex
                .house
                    display: flex
                .mini-circle
                    background: white
                    width: 52px
                    height: 52px
                    border: 1px solid #D1D1D1
                    border-radius: 100px
                    margin-right: 18px
                    img
                        padding: 20px 15px 10px 16px
                .list__title
                    font-family: 'Proxima Nova Thin'
                    font-weight: 600
                    font-size: 24px
                    line-height: 31px
                    margin-bottom: 22px
                .list__text
                    font-family: 'Proxima Nova Thin'
                    font-weight: 600
                    font-size: 16px
                    line-height: 19px
                    color: #747474
            .right-list
                .list-width
                    width: 400px
                    margin-bottom: 80px
                .prices
                    display: flex
                .location
                    display: flex
                .environment
                    display: flex
                .mini-circle
                    background: white
                    width: 52px
                    height: 52px
                    border: 1px solid #D1D1D1
                    border-radius: 100px
                    margin-right: 18px
                    img
                        padding: 20px 15px 10px 16px
                .list__title
                    font-family: 'Proxima Nova Thin'
                    font-weight: 600
                    font-size: 24px
                    line-height: 31px
                    margin-bottom: 22px
                .list__text
                    font-family: 'Proxima Nova Thin'
                    font-weight: 600
                    font-size: 16px
                    line-height: 19px
                    color: #747474

.block-carousel
    position: relative
    margin-bottom: 56px
    // overflow: hidden
    .container
        max-width: 1744px
        margin: 0 auto
    &__upper
        display: flex
        justify-content: center
        margin-bottom: 56px
        &__title
            font-family: Mont Semibold
            font-weight: 200
            font-size: 48px
            line-height: 61px
            width: 730px
            margin: 0 410px 0 0
            // height: 95px
            span
                font-weight: 600
        &__sign-up
            width: 336px
            height: 87px
            background: linear-gradient(0.25turn, #447C2A, #3DB846, #447C2A)
            border-radius: 50px
            padding: 30px 0 0 55px
            color: white
            font-family: Mont Semibold
            font-weight: 600
            font-size: 20px
            line-height: 26px
            cursor: pointer
    .btn-left
        width: 68px
        height: 68px
        background: white
        position: absolute
        top: 210px
        left: -35px
        border-radius: 40px
        cursor: pointer
        // position: absolute
        // z-index: 1
        &__upper
            position: absolute
            top: 30px
            left: 23px
            width: 15px
            border: 1px solid #869EA9
            transform: rotate(-40deg)
        &__lower
            position: absolute
            top: 39px
            left: 23px
            width: 15px
            border: 1px solid #869EA9
            transform: rotate(40deg)
    .btn-left:hover
        background: #3C9C43
        .btn-left__upper
            border: 1px solid white
        .btn-left__lower
            border: 1px solid white
    .btn-right
            width: 68px
            height: 68px
            background: white
            position: absolute
            top: 210px
            right: -45px
            border-radius: 40px
            cursor: pointer
            &__upper
                position: absolute
                top: 30px
                left: 28px
                width: 15px
                border: 1px solid #869EA9
                transform: rotate(40deg)
            &__lower
                position: absolute
                top: 39px
                left: 28px
                width: 15px
                border: 1px solid #869EA9
                transform: rotate(-40deg)
    .btn-right:hover
        background: #3C9C43
        .btn-right__upper
            border: 1px solid white
        .btn-right__lower
            border: 1px solid white
    .ovw
        width: 1413px
        height: 484px
        position: relative
        // position: relative
        // overflow: hidden
        margin: 0 auto
        margin-bottom: 27px
        &__subject
            font-family: Mont Semibold
            font-weight: 400
            font-size: 30px
            line-height: 37px
            width: 325px
            margin: 0 auto
            margin-bottom: 32px
    &__indicators
        display: flex
        align-items: center
        width: 70px
        overflow: hidden
        margin: 0 auto
        .indicators__circle
            min-width: 4px
            height: 4px
            background: #B9B9B9
            border-radius: 10px
        .circle-active
            min-width: 8px
            height: 8px
            background: #71AB28
        .circle-average-active
            min-width: 6px
            height: 6px
        .indicators__circle:not(:last-child)
            margin-right: 12px
    &__carousel
        display: flex
        margin: 0 auto
        overflow: hidden
        width: 1413px
        position: relative
        // left: 0
        &__image
            width: 336px
            height: 484px
            border-radius: 24px
            transition: all 1s
        .carousel-active
            margin: 0 24px
            width: 696px
    
.ww
    width: 0

.block-video
    margin-bottom: 112px
    .container
        max-width: 1744px
        margin: 0 auto
        video
            display: block
            margin: 0 auto
            width: 1066px
            height: 600px
            border-radius: 24px

.benefits
    background: white
    .container
        max-width: 1744px
        margin: 0 auto
    &__title
        font-family: Mont Semibold
        font-weight: 400
        font-size: 48px
        line-height: 61px
        width: 1122px
        margin: 0 auto
        margin-bottom: 56px
        span
            font-family: Mont Semibold
            font-weight: 600
            font-size: 48px
            line-height: 61px
    &__promo
        display: flex
        justify-content: center
        border: 1px solid #DEDEDE
        border-radius: 24px
        max-width: 1440px
        margin: 0 auto
        padding: 50px
        margin-bottom: 42px
        &__left
            margin-right: 68px
            .programm
                font-family: Proxima Nova Thin
                font-weight: 400
                font-size: 19px
                line-height: 23px
                color: #464646
            .headline-btn
                display: flex
                justify-content: space-between
                .headline
                    font-family: Mont Semibold
                    font-weight: 700
                    font-size: 64px
                    line-height: 73px
                    color: #323638
                .btn
                    background: linear-gradient(0.25turn,#447C2A, #3DB846, #447C2A)
                    width: 200px
                    border-radius: 40px
                    padding: 22px 0 0 35px
                    font-family: Mont Semibold
                    font-weight: 600
                    font-size: 20px
                    line-height: 26px
                    color: white
            .subtitle
                font-family: Proxima Nova Thin
                font-weight: 400
                font-size: 19px
                line-height: 23px
                color: #464646
                margin-bottom: 21px
            &__list
                ul
                    list-style: none
                    margin: 0
                    padding: 0
                    li
                        margin-bottom: 20px
                    li:before
                        content: 'o'
                        color: green
            &__block-price
                padding: 30px
                background: #FFFAF2
                border-radius: 24px
                .block-price__heading
                    .info
                        display: flex
                        justify-content: space-between
                        margin-bottom: 16px
                        &__block-text
                            display: flex
                            width: 370px
                        &__caption
                            width: 185px
                        &__price
                            font-family: Mont Semibold
                            font-weight: 400
                            font-size: 28px
                            line-height: 31px
                            color: #437F2C
                            span
                                font-family: Proxima Nova Thin
                                font-weight: 400
                                font-size: 20px
                                line-height: 23px
                        &__caption
                            font-family: Mont Semibold
                            font-weight: 400
                            font-size: 24px
                            line-height: 31px
                            color: #464646
                        hr
                            height: 22px
                            border: 1px solid #CACACA
                        .block-price__close
                            width: 46px
                            height: 46px
                            background: white
                            border-radius: 20px
                            position: relative
                            cursor: pointer
                            transition: 1s
                            // transform: rotate(0deg)
                            &__horizontal
                                width: 12px
                                height: 2px
                                background: #455858
                                position: absolute
                                top: 47%
                                left: 40%
                                // transform: translateX(-50%)
                            &__vertical
                                width: 2px
                                background: #455858
                                height: 12px
                                position: absolute
                                top: 50%
                                left: 50%
                                transform: translateY(-50%)
                .desc
                    height: 0
                    overflow: hidden
                    transition: height .6s 
                .desc__height
                    height: 45px
                    .desc__info
                        display: flex
                        .desc__plus
                            position: relative
                            width: 13px
                            height: 24px
                            margin-right: 16px
                            .horizontal
                                width: 12px
                                height: 2px
                                background: #71AB28
                                position: absolute
                                top: 8.5px
                                left: 1px
                            .vertical
                                width: 2px
                                height: 12px
                                background: #71AB28
                                position: absolute
                                top: 4px
                                left: 6px
                                transform: rotate(15deg)
                    .desc__text
                        font-family: Proxima Nova Thin
                        font-weight: 600
                        font-size: 14px
                        line-height: 21px
                        color: #464646

.block-slider
    margin-bottom: 72px
    .container
        max-width: 1744px
        margin: 0 auto
    &__title
        font-family: Proxima Nova Thin
        font-weight: 400
        font-size: 48px
        line-height: 51px
        margin: 0 auto
        text-align: center
        margin-bottom: 56px
        span
            font-family: Proxima Nova Thin
            font-weight: 600
            font-size: 48px
            line-height: 51px
    &__slider
        .wrap
            width: 1413px
            height: 600px
            overflow: hidden
            margin: 0 auto
            display: flex
            align-items: flex-end
            position: relative
            .block-image:not(:last-child)
                margin-right: 145px
            .img-active
                height: 580px
            .ee
                display: none
            .block-image
                text-align: center
                transition: all 1s
                &__img
                    margin-bottom: 18px
                &__title
                    margin: 0 0 10px 0
                &__doctor
                    margin-bottom: 10px
                &__experience
                    margin-bottom: 10px
            &__navigation
                &__left:hover
                    background: #3C9C43
                    .wrap__navigation__left__upper
                        background: white
                    .wrap__navigation__left__lower
                        background: white
                &__left
                    width: 44px
                    height: 44px
                    background: #F4F4F4
                    position: absolute
                    top: 190px
                    left: 480px
                    border-radius: 20px
                    &__upper
                        width: 17px
                        height: 1px
                        background: black
                        position: absolute
                        top: 18px
                        left: 10px
                        transform: rotate(-45deg)
                    &__lower
                        width: 17px
                        height: 1px
                        background: black
                        position: absolute
                        top: 30px
                        left: 10px
                        transform: rotate(45deg)
                &__right:hover
                    background: #3C9C43
                    .wrap__navigation__right__upper
                        background: white
                    .wrap__navigation__right__lower
                        background: white
                &__right
                    width: 44px
                    height: 44px
                    background: #F4F4F4
                    position: absolute
                    top: 190px
                    left: 840px
                    border-radius: 20px
                    &__upper
                        width: 17px
                        height: 1px
                        background: black
                        position: absolute
                        top: 18px
                        left: 14px
                        transform: rotate(45deg)
                    &__lower
                        width: 17px
                        height: 1px
                        background: black
                        position: absolute
                        top: 30px
                        left: 14px
                        transform: rotate(-45deg)

.block-map
    position: relative
    &__fon
        position: absolute
        top: -300px
        left: -50px
        z-index: -1
    .container
        max-width: 1744px
        margin: 0 auto
    &__map
        padding: 130px
        margin: 0 auto
        &__img
            width: 100%
            height: 683px
    &__block-form
        background: #FCFCFC
        width: 828px
        height: 605px
        position: absolute
        top: 170px
        left: 250px
        &__title
            font-family: Proxima Nova Thin
            font-weight: 600
            font-size: 39px
            line-height: 50px
            width: 460px
            text-align: center
            margin: 0 auto
            margin-bottom: 50px
            span
                font-family: Proxima Nova Thin
                font-weight: 400
                font-size: 39px
                line-height: 50px
        .form
            
